name: Workflow Testing

on:
  push:
    paths:
      - '.github/workflows/test.yml'
  pull_request:
    branches: [ main ]

jobs:
  script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check File Existence
      run: |
        echo $(ls -1q data/*.csv | wc -l) datasets detected.
        echo $(ls -1q md5hash/*.md5 | wc -l) MD5 hashes detected.
        if [[ $(ls -1q md5hash/*.md5 | wc -l) != $(ls -1q data/*.csv | wc -l) ]]; then
          echo Scraping incomplete! 
          exit 1; else
          echo Scraping completed!; fi
